html {
    font-size: 100%;
}
body {
    background-color: #f0f0ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.guide {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
	color: #181818;
    background-color: #B09039;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.2rem solid #505009;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.5rem #aaaaaa;
}
a.guide:hover {
    color: #760001;
    background-color: #c9c9c9;
}
a {
    text-decoration: none;
    color: #760001;
}
a .preview, a:visited .preview {
    text-decoration: none;
    color: #181818;
}
.preview {
    padding: 0rem 1rem 0.2rem 1rem ;
    margin: 0.5rem 0rem 0.5rem 0rem;
    border: 0.2rem solid #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.2rem 0.5rem #aaaaaa;
}
.preview:hover {
    background-color: #c9c9c9;
}
#section {
    width: 50rem;
	max-width: 100%;
    margin: auto;
    padding: 0.1rem;
}
body {
  margin: 0;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

div.header {
  background: #0084ff;
  padding: 0.5rem;
  z-index: 3000; /* Utile avec Reveal.js */
}

div.header img {
  max-width: 500px;
}

#navbar {
  overflow: hidden;
  background-color: #0080ff;
  z-index: 3000; /* Utile avec Reveal.js */
}

#navbar a {
  float: left;
  display: block;
  color: #484848;
  text-align: center;
  padding: 1rem 1.1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

#navbar a:hover {
  background-color: #00a2ff;
}

.navbar-right {
  float: right;
}

#bloc_page {
  padding: 1.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #bloc_page {
  padding-top: 5rem;
}

#navbar span.navtext {
    color: #f2f2f2;
}

@media screen and (max-width: 800px) {
    #navbar span.navtext {
      display: none;
    }
  }
  
h1 {
	color: #A07009;
    font-style: italic;
    font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}
.otherVersion {
    font-size: 0.8rem;
	color: #181818;
    font-style: italic;
    font-weight: normal;
}
.pub-date {
    font-size: 0.8rem;
	color: #a5a5a5;
    font-weight: normal;
    font-style: normal;
	margin-bottom: 0.8rem;
}
.preview h2 {
	color: #A07009;
}
#article {
    margin-bottom: 0.5rem;
}
.articleImage {
    -moz-box-shadow: 0.4rem 0.4rem 0.4rem #1c1a19;
    -webkit-box-shadow: 0.4rem 0.4rem 0.4rem #1c1a19;
    box-shadow: 0.4rem 0.4rem 0.4rem #1c1a19;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
	width: 100%;
	height: auto;
}
.articleImageWithoutShadow {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
	width: 100%;
}
#footnotes {
    font-size: 1rem;
    font-style: italic;
    background-color: #DFDFE9;
    padding: 0.1rem 0.1rem 0.1rem 1rem;
    margin-top: 2rem;
}
#footnotes h2 {
	color: #A07009;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
    font-style: italic;
    font-size: 1.5rem;
}
#footnotes ol {
    padding-left: 2rem;
}
#footnotes li {
    margin-bottom: 1rem;
    margin-left: 0rem;
}
.footnote {
	font-size: 0.8rem;
    vertical-align: top;
}
p.imageCaption {
	color: #777;
	font-size:1rem;
	text-align:center;
    margin: auto;
    margin-bottom: 3rem;
}
#article p.imageCaption {
	width: auto;
}
.twoImagesTable {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}
.twoImagesTable td {
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
.twoImagesTable .articleImage {
	max-width: 100%;
	height: auto;
}
.introduction {
	font-weight: bold;
    margin-bottom: 2rem;
}
#article ul, #footnotes ul {
	list-style-image: url('images/puce.png');
    list-style-type: none; /* on annule la puce par défaut */
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding-left: 1.5rem; /* pour éviter la superposition du contenu */
}
.interlude {
    width: 90%;
    margin: auto;
    font-style: italic;
}
.citation {
    padding-left: 1rem;
    font-style: italic;
}
.extract {
    font-style: italic;
}
p.signature {
	font-weight: bold;
	font-size:1.2rem;
	text-align:center;
    margin: auto;
}
p.signature:hover {
    text-decoration: underline;
}
