html 
{
    font-size: 100%;
}
body
{
    background-color: #f0f0ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    font-size: 0.875em;
}
.guide
{
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
	color: #181818;
    background-color: #B09039;
    padding: 0.5em 1em 0.5em 1em;
    border: 0.2em solid #505009;
    border-radius: 0.5em;
    box-shadow: 0em 0.2em 0.5em #aaaaaa;
}
a.guide:hover
{
    color: #760001;
    background-color: #c9c9c9;
}
a
{
    text-decoration: none;
    color: #760001;
}
a .preview, a:visited .preview
{
    text-decoration: none;
    color: #181818;
}
.preview
{
    padding: 0em 1em 0.2em 1em ;
    margin: 0.5em 0em 0.5em 0em;
    border: 0.2em solid #FFFFFF;
    border-radius: 0.5em;
    box-shadow: 0em 0.2em 0.5em #aaaaaa;
}
.preview:hover
{
    background-color: #c9c9c9;
}
#section
{
    width: 50em;
	max-width: 100%;
    margin: auto;
    padding: 0.1em;
}
#header
{
    display: flex;
	width: 100%;
    background: #0084ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    z-index: 3000; /* Utile avec Reveal.js */
    line-height: 0.7;
}
#headerTitle
{
    flex: 1;
    margin: 0.5vw;
}
#cc-licence
{
    font-size: 0.875vw;
	margin-right: 0.6vw;
    color: #363636;
}
#nav
{
    display: flex;
    align-self: flex-end;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
    vertical-align: bottom; 
}
#nav ul
{
    list-style-type: none;
	margin-right: 0.1vw;
	margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    padding-left: 0vw;
}
#nav li
{
    display: inline-block;
    margin-right: 1vw;
}
#nav a
{
    font-size: 1vw;
    color: #ddddff;
    padding-bottom: 0.3vw;
    text-decoration: none;
    text-transform: uppercase;
}
#nav a.contact
{
    font-size: 1vw;
    text-decoration: none;
    text-transform: none;
}
#nav a:hover
{
    color: #a0a0a0;
    text-decoration: underline;
}
#cc-licence a
{
    color: #760001;
    font-size: 0.875vw;
    text-transform: none;
}
h1
{
	color: #A07009;
    font-style: italic;
    font-size: 2.5em;
	margin-top: 0.8em;
	margin-bottom: 1em;
}
.otherVersion
{
    font-size: 0.5em;
	color: #181818;
    font-style: italic;
    font-weight: normal;
}
.pub-date
{
    font-size: 0.4em;
	color: #a5a5a5;
    font-weight: normal;
    font-style: normal;
}
.preview h2
{
	color: #A07009;
}
#article
{
    margin-bottom: 0.5em;
}
.articleImage
{
    position: relative;
    -moz-box-shadow: 0.4em 0.4em 0.4em #1c1a19;
    -webkit-box-shadow: 0.4em 0.4em 0.4em #1c1a19;
    box-shadow: 0.4em 0.4em 0.4em #1c1a19;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
	max-width: 100%;
	height: auto;
}
.articleImageWithoutShadow
{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
#footnotes
{
    font-size: 0.8em;
    font-style: italic;
    background-color: #DFDFE9;
    padding: 0.1em 0.1em 0.1em 1em;
    margin-top: 2em;
}
#footnotes h1
{
    font-style: italic;
    font-size: 1.5em;
}
#footnotes ol
{
    padding-left: 2em;
}
#footnotes li
{
    margin-bottom: 1em;
    margin-left: 0em;
}
.footnote
{
	position: relative; 
	top: -0.5em; 
	font-size: 80%;
}
p.imageCaption
{
	color: #777;
	font-size:0.8em;
	text-align:center;
    margin: auto;
    margin-bottom: 3em;
}
#article p.imageCaption
{
	width: auto;
}
.twoImagesTable
{
    text-align: left;
}
.twoImagesTable td
{
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
.twoImagesTable .articleImage
{
	max-width: 100%;
	height: auto;
}
.introduction
{
	font-weight: bold;
    margin-bottom: 2em;
}
#article ul, #footnotes ul
{
	list-style-image: url('images/puce.png');
    list-style-type: none; /* on annule la puce par défaut */
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-left: 1.5em; /* pour éviter la superposition du contenu */
}
#cuckoolandImage img
{
    border: 0;
    float: left;
    max-width: 50%;
    height: auto;
}
.interlude {
    width: 90%;
    margin: auto;
    font-style: italic;
}
.citation
{
    padding-left: 1em;
    font-style: italic;
}
.extract
{
    font-style: italic;
}
p.signature
{
	font-weight: bold;
	font-size:1.2em;
	text-align:center;
    margin: auto;
}
p.signature:hover
{
    text-decoration: underline;
}
