.kbd
{
    font-family: monospace, Courier;
    border-width: 0.1em 0.1em 0.2em;
    border-color: #DDD #BBB #BBB #DDD;
    border-style: solid;
    padding: 0.1em 0.3em;
    white-space: nowrap;
    background: none repeat scroll 0% 0% #F9F9F9;
    border-radius: 0.3em;
}

.citation
{
    font-style: italic;
}

li
{
    margin-bottom: 0.5rem;
}


table.versions {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.versions tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table.versions th, table.versions td {
    padding: 10px;
    text-align: center;
}

table.versions th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {

    table.versions {
        border: 0;
    }

    table.versions thead {
        display: none;
    }

    table.versions tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table.versions td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table.versions td:last-child {
        border-bottom: 0;
    }

    table.versions td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

th.language-header,
th.thanks-header,
td.row-header,
td.thanks-cell {
	text-align:left;
}

th.sozi-header,
th.pdf-header,
td.sozi-cell,
td.pdf-cell {
	text-align:center;
}
