#section
{
    width: 50rem;
    max-width: 100%;
    margin: auto;
}

.chartsContainer {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 24rem;
    height: auto;
    margin: 0.4rem;
}

.box svg {
    max-width: 400px;
}

.area {
    stroke: black;
    stroke-width: .5px;
}

.area.selected {
    stroke-width: 2px;
}

rect.selected {
    stroke: black;
    stroke-width: .5px;
    stroke-dasharray: 4,2,2,2;
}

.line.faded,
.legendItem.faded {
    opacity: 0.1;
}

div.tooltip {
    position: absolute;
    opacity:0.8;
    z-index:1000;
    text-align:left;
    border-radius:0.4rem;
    padding:0.8rem;
    color:#fff;
    background-color:#000;
    font: 1rem sans-serif;
    max-width: 30rem;
    height: 4rem;
    pointer-events: none;
}

#svg {
    display: block;
    margin: auto;
}

.axis { font: 14px sans-serif; }

.date_player {
    margin-bottom: 1rem;
}

.dateLabel {
    font: 1,5rem "Helvetica Neue";
    fill: #000055;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.xLocLine,
.yLocLine {
    stroke-width: 0.2;
    stroke: #000;
    stroke-dasharray: 4,2,2,2;
}

.xDragLine {
    stroke-width: 3;
    stroke: #777;
    cursor: col-resize;
    opacity: 0;
}

.xDragLine.dragged {
    opacity: 0.1;
}

.legend {
    margin-left:4rem;
}

.legendItem {
    float:left;
    margin-right:1rem;
    font: 0.8rem "Helvetica Neue";
    cursor: default;
}

.csvContent {
    width: 100%;
    margin: 0.4rem;
}
